@keyframes go {
	from {
			box-shadow: 0px 0px 0px #FF2200, 0px 0px 0px #FF2200,  0px 0px 0px #FF2200, 0px 0px 0px #FF2200;
		}
		
	to {
		box-shadow: 2px 0px 10px #FF2200, 0px 2px 10px #FF2200, -2px 0px 10px #FF2200, 0px -2px 100px #FF2200;
		}
	}

#start {
	width: 600px;
	height: 600px;
	background-image: url("draw.jpg");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: relative;
	}
	
	#start>h2 {
		margin-top: 40px;
		width: 100%;
		font-size: 60px;
		color: #FFF000;
		text-shadow: 2px 2px 0px #FF2200, -2px -2px 0px #FF2200;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		}
		
	#start a {
margin-bottom: 190px;
		padding: 15px;
		border-radius: 10px;
		background: #FFE200;
		font-size: 60px;
		color: #FFFFFF;
		text-decoration: none;
		display: inline-block;
		transition: background .5s linear;
		animation: go 1s linear infinite alternate;
		}
		
	#start>a:hover {
		background: #FF0048;
		text-shadow: none;
		animation-play-state: paused;
		}
