#editForm {
	margin-left: 15px;
	padding-top: 20px;
	width: 500px;
	height: 800px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	overflow-y: auto;
	}

#editForm>div {
	align-self: flex-end;
	}
	
fieldset {
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 100%;
	border: none;
	}
	
legend {
	color: #4269FF;
	font-size: 1.3em;
	}
	
#editForm>div>button {
	margin: 10px 10px 10px 5px;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background: #4269FF;
	font-size: 1em;
	color: #FFFFFF;
	}
	
.label {
	padding-top: 0;
	width: 40%;
	vertical-align: top;
	}
	
#editForm label {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 1em;
	display: inline-block;
	}
	
input[type=number] {
	margin: 5px;
	padding: 5px;
	border: 1px solid #4269FF;
	border-radius: 5px;
	}
	
input[type=number]:focus {
	outline-color: #0000FF;
	}

input[type=range] {
	margin-top: 10px;
}
