* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	
body {
	background-image: linear-gradient(to bottom, #8DACFF, #FFFFFF 10%, #FFFFFF 90%, #8DACFF);
	background-repeat: no-repeat;
	background-attachment: fixed;
	}

html {
	font-size: 18px;
	}
	
address {
	margin-top: 100px;
	padding: 10px;
	text-align: center;
	}

#main {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	}
	
h1 {
	margin-bottom: 30px;
	padding: 10px;
	width: 100%;
	font-family: Arial;
	font-size: 4em;
	font-weight: bold;
	color: #FFE600;
	text-align: center;
	text-shadow: 5px 0px 5px #0000FF, 0px 5px 5px #0000FF, -5px 0px 5px #0000FF, 0px -5px 5px #0000FF;
	}


@keyframes go {
	from {
			box-shadow: 0px 0px 0px #FF2200, 0px 0px 0px #FF2200,  0px 0px 0px #FF2200, 0px 0px 0px #FF2200;
		}
		
	to {
		box-shadow: 2px 0px 10px #FF2200, 0px 2px 10px #FF2200, -2px 0px 10px #FF2200, 0px -2px 100px #FF2200;
		}
	}

#start {
	width: 600px;
	height: 600px;
	background-image: url(86bb206645ee9b4d58b8.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	position: relative;
	}
	
	#start>h2 {
		margin-top: 40px;
		width: 100%;
		font-size: 60px;
		color: #FFF000;
		text-shadow: 2px 2px 0px #FF2200, -2px -2px 0px #FF2200;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		}
		
	#start a {
margin-bottom: 190px;
		padding: 15px;
		border-radius: 10px;
		background: #FFE200;
		font-size: 60px;
		color: #FFFFFF;
		text-decoration: none;
		display: inline-block;
		transition: background .5s linear;
		animation: go 1s linear infinite alternate;
		}
		
	#start>a:hover {
		background: #FF0048;
		text-shadow: none;
		animation-play-state: paused;
		}

button#help {
	height: 40px;
	width: 40px;
	border: 1px solid #4269FF;
	border-radius: 50%;
	background: #FFFFFF;
	position: absolute;
	bottom: 10px;
	right: 0;
	}

.tooltip {
	padding: 5px 10px;
	width: 200px;
	background: #4269FF;
	color: #FFFFFF;
	text-align: left;
	display: none;
	position: absolute;
	bottom: 10px;
	right: 45px;
	box-shadow: 0px 0px 10px 5px #4269FF;
	transition: display .5s linear;
}

.tooltip mark {
	padding: 5px;
	border-radius: 5px;
	background: #0000FF;
	color: #FFFFFF;
	display: inline-block;
}

#panel {
	margin-left: 15px;
	padding: 5px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	}
	
#panel>a {
	margin-top: 5px;
	margin-bottom: 40px;
	margin-right: 5px;
	padding: 10px;
	border: 1px solid #4269FF;
	border-radius: 10px;
	color: #4269FF;
	text-decoration: none;
	align-self: flex-end;
	}
	
#panel .button {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 6px;
	padding: 15px;
	width: 50%;
	border: none;
	border-radius: 10px;
	background: #4269FF;
	font-size: 1.3rem;
	color: #FFFFFF;
	transition: background .5s linear;
	}
	
#panel .button:hover {
	background: #008FFF;
	}
	
#panel .save {
	margin-top: 40px;
	margin-left: 10px;
	padding: 20px;
	border-radius: 10px;
	background: #0000FF;
	font-size: 1.4rem;
	color: #FFFFFF;
	white-space: nowrap;
	transition: transform .3s linear;
	align-self: flex-start;
	}
	
#panel .save:last-child:hover {
	transform: scale(1.3, 1.3);
	}


textarea, select {
	margin: 5px;
	padding: 5px;
	border: 1px solid #4269FF;
	border-radius: 5px;
	transition: border-color .5s linear;
	}
	
textarea:focus, select:focus {
	outline-color: #0000FF;
	}
	
select {
	background: #FFFFFF;
	}
	
#text>div:first-of-type {
	padding-left: 135px;
	}
	
p {
	padding: 5px;
	font-size: 1em;
	}
	
#text label {
	position: relative;
	padding-left: 10px; 
	}
	
input[type=checkbox] {
	margin-right: 5px;
	opacity: 0;
	}
	
.checkbox {
	position: absolute;
	top: 5px;
	left: 0;
	}




#brush span {
	margin-left: 5px;
  	border: 1px solid black;
  	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
  	}
  
#brush label {
	position: relative;
	padding-left: 10px;
	}

.radio {
	position: absolute;
	top: 5px;
	left: 0;
	}

input[type=radio] {
	margin-right: 5px;
	opacity: 0;
	}


#editForm {
	margin-left: 15px;
	padding-top: 20px;
	width: 500px;
	height: 800px;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	overflow-y: auto;
	}

#editForm>div {
	align-self: flex-end;
	}
	
fieldset {
	margin-bottom: 10px;
	padding: 5px 10px;
	width: 100%;
	border: none;
	}
	
legend {
	color: #4269FF;
	font-size: 1.3em;
	}
	
#editForm>div>button {
	margin: 10px 10px 10px 5px;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	background: #4269FF;
	font-size: 1em;
	color: #FFFFFF;
	}
	
.label {
	padding-top: 0;
	width: 40%;
	vertical-align: top;
	}
	
#editForm label {
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 5px;
	font-size: 1em;
	display: inline-block;
	}
	
input[type=number] {
	margin: 5px;
	padding: 5px;
	border: 1px solid #4269FF;
	border-radius: 5px;
	}
	
input[type=number]:focus {
	outline-color: #0000FF;
	}

input[type=range] {
	margin-top: 10px;
}

#editor {
	height: 900px;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
}

#editor>div:first-of-type {
	margin: 25px;
	border: 1px solid #000000;
	background: #FFFFFF;
	align-self: center;
}


#create {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	}
	
#create>h3 {
	margin: 30px;
	padding: 10px;
	font-size: 3rem;
	color: #4269FF;
	text-align: center;
	}
	
#create form {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	}
	
#create label {
	margin-bottom: 30px;
	padding: 10px;
	width: 40%;
	font-size: 1.5rem;
	text-align: right;
	}
	
#create select {
	margin-bottom: 30px;
	padding: 10px;
	width: 40%;
	border: 1px solid #4269FF;
	border-radius: 5px;
	font-size: 1.5rem;
	transition: border-color .5s linear;
	}
	
#create select:focus {
	border-color: #0000FF;
	}
	
#create button {
	margin-top: 30px;
	padding: 10px;
	width: 30%;
	border: none;
	border-radius: 10px;
	background: #4269FF;
	font-size: 1.5rem;
	color: #FFFFFF;
	transition: background .5s linear;
	}
	
#create button:hover {
	background: #008FFF;
	}


#viewer {
	padding: 10px 50px 50px;
	min-height: 700px;
	background: #4279FF;
	align-self: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: space-around;
	box-shadow: 0px 0px 10px 5px #4269FF;
	}
	
#viewer>div {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-self: stretch;
	}
	
#viewer a {
	margin: 5px;
	padding: 10px;
	border-radius: 10px;
	background: #0000FF;
	color: #FFFFFF;
	font-size: 1.5rem;
	text-decoration: none;
	display: inline-block;
	}

#viewer img {
	border: 1px solid #000000;
}

