textarea, select {
	margin: 5px;
	padding: 5px;
	width: 150px;
	border: 1px solid #4269FF;
	border-radius: 5px;
	transition: border-color .5s linear;
	}
	
textarea:focus, select:focus {
	outline-color: #0000FF;
	}
	
select {
	background: #FFFFFF;
	}
	
#text>div:first-of-type {
	padding-left: 135px;
	}
	
p {
	padding: 5px;
	font-size: 1em;
	}
	
#text label {
	padding: 15px 15px 15px 5px;
        color: #FFFFFF;
        display: inline-block;
	}

#text .label {
        color: #000000;
        display: inline-block;
        }
	
input[type=checkbox] {
	margin-left: -5px;
	opacity: 0;
	}

