#panel {
	margin-left: 15px;
	padding: 5px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	}
	
#panel>a {
	margin-top: 5px;
	margin-bottom: 40px;
	margin-right: 5px;
	padding: 10px;
	border: 1px solid #4269FF;
	border-radius: 10px;
	color: #4269FF;
	text-decoration: none;
	align-self: flex-end;
	}
	
#panel .button {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 6px;
	padding: 15px;
	width: 50%;
	border: none;
	border-radius: 10px;
	background: #4269FF;
	font-size: 1.3rem;
	color: #FFFFFF;
	transition: background .5s linear;
	}
	
#panel .button:hover {
	background: #008FFF;
	}
	
#panel .save {
	margin-top: 40px;
	margin-left: 10px;
	padding: 20px;
	border-radius: 10px;
	background: #0000FF;
	font-size: 1.4rem;
	color: #FFFFFF;
	white-space: nowrap;
	transition: transform .3s linear;
	align-self: flex-start;
	}
	
#panel .save:last-child:hover {
	transform: scale(1.3, 1.3);
	}

