#brush span {
	margin-left: 5px;
  	border: 1px solid black;
  	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
  	}
  
#brush label {
	padding: 15px 15px 15px 5px;
	color: #FFFFFF;
	display: inline-block;
	}

#brush .label {
        color: #000000;
        display: inline-block;
        }

input[type=radio] {
	margin-left: -5px;
	opacity: 0;
	}

